body {
    text-align: center;
}

#board {
    background-color: black;
    border-top: 10px solid skyblue;
    border-left: 8px solid skyblue;
    border-right: 8px solid skyblue;
    border-radius: 20px;
}
.home{
    margin-top: 5%;
}
button{
    border: 6px solid skyblue;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-family: Arial, sans-serif;
    padding: 10px;
    font-size: 18px;
}
button:hover{
    border: 10px solid skyblue;
    border-radius: 15px;
}
