body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(orange, #10b5d9);
    background-repeat: no-repeat;
    cursor: url('../Images/darkBuleCursor.png'), default;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    position: relative;
    font-family: "Arvo", cursive;
}

.icon-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    cursor: url('../Images/darkBuleCursor.png'), default;
}
.icon-containerA {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    cursor: url('../Images/darkBuleCursor.png'), default;
    padding-right: 65%;
    padding-top: 0.5%;
}

.icon-container:first-child {
    left: 20px;
}

.icon-container:last-child {
    right: 20px;
}

.iconS {
    width: 65px;
    height: 65px;
    cursor: url('../Images/clickHover.png'), default;
}
.iconP {
    width: 50px;
    height: 50px;
    cursor: url('../Images/clickHover.png'), default;
}
.iconL {
    width: 60px;
    height: 60px;
    
    cursor: url('../Images/clickHover.png'), default;
}
.iconSt {
    width: 60px;
    height: 60px;
    padding-left: 800%;
    cursor: url('../Images/clickHover.png'), default;
}


h1 {
    color: white;
    text-align: center;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.grid-item {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #03323e solid 7.5px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
    padding: 20px;
    margin: 50px;
    margin-top: 10px;
    cursor: url('../Images/cursor.png'), default;
    font-family: "Arvo", cursive;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.grid-item:hover {
    transform: scale(1.10);
    cursor: url('../Images/clickHover.png'), default;
}

.heart-button {
    display: block;
    margin: 1px auto; 
    font-size: 30px;   
    background: none;
    border: none;
    color: #ccc;       
    cursor: pointer;
    transition: color 0.3s ease;
    padding-left: 5px;     
}


.heart-button:hover {
    cursor: url('../Images/clickHover.png'), default;

}

.grid-item-wrapper{

}
